<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="static/favicon.ico" />
    <title>学食メニュー</title>
  </head>
  <body>
    <h1>今日の学食メニュー</h1>
    <h2>日替わり定食</h2>
    <img src="static/images/{{ image_id }}.jpg" />
    <div id="popular_menu"></div>
    <h2>メニューリクエスト</h2>
    <div id="request_menus"></div>
    <button onclick="VoteMenu()">選択した料理に投票</button>
    <script src="static/callAPI.js"></script>
    <script src="static/script.js"></script>
  </body>
</html>
