<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="static/favicon.ico" />
    <title>学食メニュー</title>
  </head>
  <body>
    <div class="main">
      <div class="menu_box">
        <h2 class="title">今日の学食メニュー</h2>
      </div>
      <div class="request_box">
        <div class="title">
          <div id="popular_menu"></div>
        </div>
        <h1>メニューリクエスト</h1>
        <div class="menus" id="request_menus"></div>
        <button id="vote_menu" onclick="VoteMenu()">選択した料理に投票</button>
      </div>
    </div>
    <script src="static/callAPI.js"></script>
    <script src="static/script.js"></script>
  </body>
</html>
